html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

canvas {
  display: block;
}

#controls {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;
}